body {
  font-family: "Inika", sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
  font-family: "Inika", sans-serif;
  color: black;
}

button {
  user-select: none;
}
a {
  text-decoration: none;
}
